In [1]:
import MySQLdb

In [2]:
db=MySQLdb.connect(host="ece457project.chwjf5irbz2p.us-east-2.rds.amazonaws.com",
                        user="aiproject2018",
                        passwd="aiproject2018",
                        db="bitcoinproject")

In [3]:
cur=db.cursor()

In [4]:
cur.execute("show tables")

3L

In [5]:
cur.fetchall()

(('coindesk_articles',), ('daily_gradient',), ('weekly_gradient',))

In [6]:
cur.execute("describe weekly_gradient")

2L

In [7]:
cur.fetchall()

(('date', 'datetime', 'NO', 'PRI', None, ''),
 ('gradient', 'varchar(45)', 'NO', '', None, ''))

In [8]:
cur.execute("select * from weekly_gradient limit 10")

10L

In [9]:
a=(cur.fetchall())

In [10]:
dates=[i[0] for i in a if i[0].month==5]

In [11]:
dates

[datetime.datetime(2017, 5, 6, 23, 0),
 datetime.datetime(2017, 5, 13, 23, 0),
 datetime.datetime(2017, 5, 20, 23, 0),
 datetime.datetime(2017, 5, 27, 23, 0)]

In [12]:
import datetime
datetime.datetime(2017,5,6)

datetime.datetime(2017, 5, 6, 0, 0)

In [13]:
a=datetime.datetime(2017,5,6)

In [14]:
str(a.date())

'2017-05-06'

In [15]:
a
b=datetime.datetime(a.year,a.month,a.day,23)
str(b)

'2017-05-06 23:00:00'

In [16]:
b
st

NameError: name 'st' is not defined

In [ ]:
cur.execute("SELECT gradient from weekly_gradient where date = %s",(str(b),))

In [17]:
a=(cur.fetchall())[0][0]

IndexError: tuple index out of range

In [18]:
a

datetime.datetime(2017, 5, 6, 0, 0)

In [19]:
a[0][0]

TypeError: 'datetime.datetime' object has no attribute '__getitem__'

In [20]:
cur.execute("select gradient from weekly_gradient order by gradient asc limit 10")

10L

In [21]:
cur.fetchall()

(('-0.165057203604',),
 ('-0.281275589754',),
 ('-0.805461172421',),
 ('-1.35117555938',),
 ('-1.61570466741',),
 ('-18.7045164524',),
 ('-2.17052394452',),
 ('-22.6280615572',),
 ('-24.5481109649',),
 ('-27.3571014478',))

In [22]:
import datetime
a=datetime.datetime(2017,3,23)

In [23]:
diff=datetime.timedelta(7)

In [24]:
a+diff+diff

datetime.datetime(2017, 4, 6, 0, 0)

In [25]:
import pandas as pd

In [26]:
a=pd.read_csv('fuzzified.csv')
a.iloc[0]["G"]

"(0.7018811394002034, 'POS')"

In [27]:
dict(a)

{'G': 0        (0.7018811394002034, 'POS')
 1        (-0.8513776680513344, 'VN')
 2        (-0.8991012206508773, 'VN')
 3          (0.367751950312111, 'SP')
 4       (0.14623219466011733, 'NTR')
 5       (-0.1905336936571371, 'NTR')
 6         (0.2872731689815055, 'SP')
 7         (0.9658278363699436, 'VP')
 8        (-0.8123419647774242, 'VN')
 9        (-0.3078278038498115, 'SN')
 10      (0.10432808515486466, 'NTR')
 11       (0.48526561953644515, 'SP')
 12       (-0.4002807631833294, 'SN')
 13       (-0.9999424013650364, 'VN')
 14       (0.5287862126635763, 'POS')
 15       (0.49112984213563693, 'SP')
 16    (-0.012853837475823658, 'NTR')
 17       (0.5899861061974444, 'POS')
 18        (0.8236884318047222, 'VP')
 19       (0.5185771927019341, 'POS')
 20      (0.15362304149736733, 'NTR')
 21       (0.0861092969765519, 'NTR')
 22       (0.35228274740605453, 'SP')
 23        (-0.874086295158527, 'VN')
 24       (-0.3837563642255304, 'SN')
 25       (-0.9902157849835128, 'VN')
 26       (-0.9980431279203467, 'VN')
 27       (-0.9992181852626774, 'VN')
 28       (0.7440515732765627, 'POS')
 29     (0.059158812761803264, 'NTR')
                    ...
 68        (0.4072480752936424, 'SP')
 69       (0.29568506306898545, 'SP')
 70      (0.14220446592928696, 'NTR')
 71      (0.08795673421188106, 'NTR')
 72     (0.059158812761803264, 'NTR')
 73       (0.6921864580417039, 'POS')
 74        (-0.999998188371683, 'VN')
 75         (0.257425895602148, 'SP')
 76       (0.49113727082935266, 'SP')
 77       (-0.8513776680513344, 'VN')
 78       (0.5396895620507522, 'POS')
 79       (0.6583622874636934, 'POS')
 80       (-0.8090152020521973, 'VN')
 81       (0.39061763556273454, 'SP')
 82         (0.796568079929652, 'VP')
 83        (-0.979881276442276, 'VN')
 84      (-0.6681364411054588, 'NEG')
 85      (-0.7465192731824619, 'NEG')
 86       (-0.9293412075829445, 'VN')
 87       (-0.9515686087281656, 'VN')
 88      (-0.6943366459623272, 'NEG')
 89       (0.1833734760545946, 'NTR')
 90        (0.7577895946137368, 'VP')
 91       (-0.2862013540908668, 'SN')
 92      (0.16205237576450304, 'NTR')
 93       (-0.9820352595460937, 'VN')
 94        (0.3639966836608049, 'SP')
 95        (-0.909676090210708, 'VN')
 96         (0.440519754738427, 'SP')
 97     (-0.04453695152878052, 'NTR')
 Name: G, Length: 98, dtype: object,
 'RES': 0       (0.40924544810779045, 'POS')
 1        (-0.886029401056918, 'NEG')
 2        (-0.753897771854757, 'NEG')
 3       (0.25189069383587576, 'POS')
 4       (0.04282439056027565, 'NTR')
 5       (0.11116403753142426, 'NTR')
 6        (-0.222308509081268, 'NTR')
 7       (-0.9273538591665699, 'NEG')
 8        (0.9335981500171932, 'POS')
 9        (0.1474068106664185, 'NTR')
 10      (0.04282439056027565, 'NTR')
 11      (0.16064814736477961, 'NTR')
 12       (-0.753897771854757, 'NEG')
 13      (-0.9273538591665699, 'NEG')
 14      (-0.9273538591665699, 'NEG')
 15     (-0.13985257510674245, 'NTR')
 16    (-0.011250548875261885, 'NTR')
 17     (-0.13985257510674245, 'NTR')
 18      (0.40924544810779045, 'POS')
 19      (0.40924544810779045, 'POS')
 20       (0.1864282002300546, 'NTR')
 21    (-0.011250548875261885, 'NTR')
 22     (-0.14598162297832795, 'NTR')
 23       (0.3079235691836362, 'POS')
 24    (0.0065584277834364125, 'NTR')
 25       (-0.753897771854757, 'NEG')
 26      (-0.9273538591665699, 'NEG')
 27       (-0.798436432707491, 'NEG')
 28       (0.3079235691836362, 'POS')
 29       (0.1474068106664185, 'NTR')
                    ...
 68     (-0.13985257510674245, 'NTR')
 69       (-0.753897771854757, 'NEG')
 70      (0.16064814736477961, 'NTR')
 71     (-0.14598162297832795, 'NTR')
 72       (0.1474068106664185, 'NTR')
 73    (0.0065584277834364125, 'NTR')
 74      (0.46761936775704954, 'POS')
 75      (0.16064814736477961, 'NTR')
 76      (0.04652890194274601, 'NTR')
 77       (-0.886029401056918, 'NEG')
 78     (-0.15032962302062028, 'NTR')
 79       (-0.798436432707491, 'NEG')
 80      (0.04652890194274601, 'NTR')
 81      (0.11116403753142426, 'NTR')
 82      (0.23698735704271037, 'NTR')
 83       (0.8726458277724959, 'POS')
 84      (0.40924544810779045, 'POS')
 85     (-0.12247458110455492, 'NTR')
 86       (0.8726458277724959, 'POS')
 87       (0.3079235691836362, 'POS')
 88      (-0.9273538591665699, 'NEG')
 89       (0.1474068106664185, 'NTR')
 90      (0.23698735704271037, 'NTR')
 91       (0.3108129949736945, 'POS')
 92    (-0.006602192214126525, 'NTR')
 93       (0.6287870976950406, 'POS')
 94    (-0.011250548875261885, 'NTR')
 95      (-0.0539944585549283, 'NTR')
 96      (0.04652890194274601, 'NTR')
 97      (-0.3291918022750512, 'NEG')
 Name: RES, Length: 98, dtype: object,
 'SA': 0       (-0.1447065576923077, 'NTR')
 1       (-0.33557869230769233, 'SN')
 2       (-0.39866173214285716, 'SN')
 3       (0.13743509999999998, 'NTR')
 4             (0.08597859375, 'NTR')
 5       (0.19336449666666666, 'NTR')
 6       (0.08046881538461538, 'NTR')
 7       (-0.21047630769230766, 'SN')
 8      (-0.02925609736842106, 'NTR')
 9      (-0.01165222727272728, 'NTR')
 10      (0.10271566666666668, 'NTR')
 11     (-0.17792589687500002, 'NTR')
 12               (-0.1480882, 'NTR')
 13      (-0.31355661785714284, 'SN')
 14               (-0.1218925, 'NTR')
 15      (-0.43060049999999994, 'SN')
 16     (-0.15476975000000004, 'NTR')
 17      (-0.33681763164374995, 'SN')
 18      (-0.22657722142857145, 'SN')
 19               (-0.95827525, 'VN')
 20      (0.04209281666666665, 'NTR')
 21     (-0.11057822222222223, 'NTR')
 22             (-0.030946405, 'NTR')
 23     (-0.13182130357142857, 'NTR')
 24              (-0.06415895, 'NTR')
 25       (-0.2948884846153846, 'SN')
 26       (-0.2629780892857143, 'SN')
 27      (-0.42457729166666663, 'SN')
 28    (-0.022835528571428575, 'NTR')
 29      (-0.29324669545454546, 'SN')
                    ...
 68     (-0.10722852307692309, 'NTR')
 69                  (0.267906, 'SP')
 70      (0.06475697083333333, 'NTR')
 71      (-0.21002334499999997, 'SN')
 72      (-0.29324669545454546, 'SN')
 73     (-0.05771335305555555, 'NTR')
 74     (-0.08772979999999997, 'NTR')
 75     (-0.08430682083333331, 'NTR')
 76     (0.011358134999999991, 'NTR')
 77      (-0.33557869230769233, 'SN')
 78              (-0.313929625, 'SN')
 79      (-0.22894315714285715, 'SN')
 80      (-0.42576742857142863, 'SN')
 81     (-0.16389111666666667, 'NTR')
 82                 (-0.389786, 'SN')
 83                (-0.123345, 'NTR')
 84      (-0.6480035500000001, 'NEG')
 85     (0.005929220000000024, 'NTR')
 86      (-0.1917965514285714, 'NTR')
 87           (-0.385855346875, 'SN')
 88          (-0.030480534375, 'NTR')
 89     (0.002722775000000003, 'NTR')
 90             (-0.063233835, 'NTR')
 91      (-0.7347219666666667, 'NEG')
 92     (-0.12382074458333335, 'NTR')
 93      (-0.6927318499999999, 'NEG')
 94     (-0.10733002307692306, 'NTR')
 95       (-0.2519784666666666, 'SN')
 96       (0.24916574090909088, 'SP')
 97      (0.09002745833333332, 'NTR')
 Name: SA, Length: 98, dtype: object,
 'Unnamed: 0': 0      0
 1      1
 2      2
 3      3
 4      4
 5      5
 6      6
 7      7
 8      8
 9      9
 10    10
 11    11
 12    12
 13    13
 14    14
 15    15
 16    16
 17    17
 18    18
 19    19
 20    20
 21    21
 22    22
 23    23
 24    24
 25    25
 26    26
 27    27
 28    28
 29    29
       ..
 68    68
 69    69
 70    70
 71    71
 72    72
 73    73
 74    74
 75    75
 76    76
 77    77
 78    78
 79    79
 80    80
 81    81
 82    82
 83    83
 84    84
 85    85
 86    86
 87    87
 88    88
 89    89
 90    90
 91    91
 92    92
 93    93
 94    94
 95    95
 96    96
 97    97
 Name: Unnamed: 0, Length: 98, dtype: int64}

In [28]:
cur.execute('show tables;')

3L

In [29]:
cur.fetchall()

(('coindesk_articles',), ('daily_gradient',), ('weekly_gradient',))

In [47]:
import requests
res=requests.get("https://api.coindesk.com/v1/bpi/historical/close.json?start=2017-09-01&end=2017-09-05")

In [48]:
res

In [49]:
a=res.json()

In [50]:
a["bpi"]

{u'2017-09-01': 4950.7238,
 u'2017-09-02': 4643.975,
 u'2017-09-03': 4631.695,
 u'2017-09-04': 4319.7213,
 u'2017-09-05': 4422.1213}

In [62]:
data=pd.read_csv('bitcoindata.csv',names=['date','price'])

In [85]:
time=datetime.datetime(2017,9,11,11,0)
time=str(time)[:-3]
time

'2017-09-11 11:00'

In [92]:
idx=data[data["date"]==time].index[0]

In [94]:
prices=data.iloc[idx-256:idx]["price"]

AttributeError: 'Series' object has no attribute 'columns'

In [1]:
import pandas as pd

In [16]:
df=pd.read_csv('fuzzified4.csv')
len(df)

495

In [35]:
df2=df[df["MLP"]!=0.0]
a=df2[df2["MLP"]!=1.0]

In [36]:
a

     Unnamed: 0         G       MLP  RES        SA                 date
2             2 -0.874374  0.123332  NTR  0.439003  2017-10-15 23:00:00
19           19  0.518577  0.105602  POS -0.958275  2017-11-12 23:00:00
26           26  0.968891  0.844680  NEG  0.211687  2017-12-17 23:00:00
30           30  0.124772  0.860490  NTR -0.155440  2017-09-21 23:00:00
32           32  0.363997  0.299765  NTR -0.107330  2017-10-06 23:00:00
37           37 -0.998043  0.840916  NEG -0.262978  2018-01-17 23:00:00
39           39  0.701881  0.971662  POS -0.144707  2017-11-15 23:00:00
40           40 -0.309078  0.594438  POS -0.259624  2017-11-14 23:00:00
41           41  0.104328  0.943143  NTR  0.102716  2017-08-03 23:00:00
45           45 -0.427613  0.313823  POS -0.343994  2017-07-15 23:00:00
46           46 -0.997257  0.884280  NEG -0.026353  2018-01-14 23:00:00
49           49 -0.958552  0.083047  NEG -0.113425  2018-01-09 23:00:00
51           51  0.304223  0.437341  POS -0.199539  2017-07-18 23:00:00
52           52 -0.404056  0.056662  NTR -0.221354  2017-10-27 23:00:00
53           53 -0.404056  0.056662  NTR -0.221354  2017-10-27 23:00:00
57           57 -0.899101  0.932209  NEG -0.398662  2018-01-29 23:00:00
58           58  0.518577  0.105602  POS -0.958275  2017-11-12 23:00:00
61           61 -0.309078  0.594438  POS -0.259624  2017-11-14 23:00:00
62           62 -0.749326  0.239864  NTR -0.285504  2017-09-02 23:00:00
70           70 -0.909676  0.622129  NTR -0.251978  2017-09-15 23:00:00
76           76 -0.637838  0.740587  NTR -0.114934  2017-09-14 23:00:00
81           81  0.705307  0.357789  NTR  0.088935  2017-09-18 23:00:00
83           83  0.257426  0.918117  NTR -0.084307  2017-09-25 23:00:00
86           86 -0.810258  0.796506  NTR -0.058856  2017-11-10 23:00:00
91           91 -0.749326  0.239864  NTR -0.285504  2017-09-02 23:00:00
93           93 -0.183286  0.062957  NTR -0.251859  2017-07-30 23:00:00
94           94  0.324386  0.644822  NTR  0.148468  2017-08-11 23:00:00
99           99 -0.048283  0.947975  NTR -0.117176  2017-08-29 23:00:00
100         100  0.968891  0.844680  NEG  0.211687  2017-12-17 23:00:00
101         101  0.996032  0.300706  POS -0.192423  2017-12-07 23:00:00
..          ...       ...       ...  ...       ...                  ...
394         394 -0.967279  0.718047  NTR -0.557149  2018-03-14 23:00:00
398         398 -0.999514  0.422766  NEG -0.168439  2018-01-26 23:00:00
399         399  0.048023  0.735096  NTR  0.060231  2017-08-02 23:00:00
403         403 -0.980760  0.599717  NEG -0.130114  2018-01-08 23:00:00
407         407 -0.404056  0.056662  NTR -0.221354  2017-10-27 23:00:00
410         410  0.365470  0.347268  NTR -0.060774  2017-10-19 23:00:00
413         413  0.968891  0.844680  NEG  0.211687  2017-12-17 23:00:00
418         418  0.608657  0.625502  POS  0.132968  2017-11-01 23:00:00
420         420  0.701881  0.971662  POS -0.144707  2017-11-15 23:00:00
425         425 -0.427613  0.313823  POS -0.343994  2017-07-15 23:00:00
430         430  0.489716  0.931137  NTR -0.064010  2017-08-23 23:00:00
435         435  0.744052  0.783114  POS -0.022836  2018-02-14 23:00:00
436         436 -0.309078  0.594438  POS -0.259624  2017-11-14 23:00:00
443         443  0.905336  0.508233  NTR -0.014688  2017-10-12 23:00:00
446         446  0.201277  0.763502  POS -0.030355  2017-10-31 23:00:00
449         449  0.201277  0.763502  POS -0.030355  2017-10-31 23:00:00
454         454 -0.929341  0.225483  POS -0.191797  2017-12-29 23:00:00
456         456  0.107181  0.887911  NTR -0.061137  2017-11-20 23:00:00
458         458  0.796568  0.850668  NTR -0.389786  2017-11-18 23:00:00
461         461 -0.524787  0.011747  NTR -0.490519  2017-07-23 23:00:00
463         463  0.257426  0.918117  NTR -0.084307  2017-09-25 23:00:00
464         464  0.146232  0.934323  NTR  0.085979  2017-07-31 23:00:00
466         466 -0.998043  0.840916  NEG -0.262978  2018-01-17 23:00:00
471         471 -0.637838  0.740587  NTR -0.114934  2017-09-14 23:00:00
472         472 -0.967279  0.718047  NTR -0.557149  2018-03-14 23:00:00
474         474 -0.394913  0.115293  NTR  0.057013  2017-09-11 23:00:00
476         476 -0.048283  0.947975  NTR -0.117176  2017-08-29 23:00:00
484         484 -0.980760  0.599717  NEG -0.130114  2018-01-08 23:00:00
486         486 -0.524787  0.011747  NTR -0.490519  2017-07-23 23:00:00
487         487 -0.394913  0.115293  NTR  0.057013  2017-09-11 23:00:00

[153 rows x 6 columns]

In [37]:
import numpy as np
import skfuzzy.control as ctrl
import skfuzzy as fuzz

In [44]:
x_mlp = np.arange(0,1.0,0.001)
mlp=ctrl.Antecedent(x_mlp,'mlp')
mlp['DRP']=fuzz.trimf(x_mlp,[0,0,0.15])
mlp['NTR']=fuzz.trimf(x_mlp,[0.12,0.2,0.3])
mlp['SLI']=fuzz.gaussmf(x_mlp,0.55,0.1)
mlp['HI']=fuzz.trimf(x_mlp,[0.75,1.0,1.0])

In [45]:
from matplotlib.pyplot import savefig 
mlp.view()
savefig('mlp')

/Users/vishnuchopra/anaconda3/envs/vcenv/lib/python3.5/site-packages/matplotlib/figure.py:403: UserWarning: matplotlib is currently using a non-GUI backend, so cannot show the figure
  "matplotlib is currently using a non-GUI backend, "